@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Open Sansl';
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

button {
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    padding: 10px;
    transition: all ease-in-out 100ms;
    margin-bottom: 50px;
}

button:hover, button:focus {
    outline: none;
    background: #333;
    color: #fff;
    cursor: pointer;
}

.questionbox {
    background: #170435;
    border-radius: 5px;
    padding: 15px 20px;
    max-width: 480px;
    margin: 0 auto;

}

.question {
    display: inline-block;
    color: white;
    font-family: 'Open Sansl';
    font-size: 24px;
}

.answer {
    display: inline-block;
    /* float: right; */
    float: right;
    color: white;
    font-family: 'Open Sansl';
    font-size: 24px;

}

.keyboard-row {
    display: flex;
    font-family: 'Open Sans';
    font-size: 24px;

}

.keyboard-row button {
    flex: 1;
    font-family: 'Open Sans';
    font-size: 24px;
    margin: 2px;
    color: #836DA7;
}

.keyboard {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 250px;
}

.page {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.levelShow {
    font-family: 'Open Sans';
    text-align: center;
    color: #836DA7;
    margin-bottom: 50px;
}

.scoreShow {
    font-family: 'Open Sans';
    text-align: left;
    color: #836DA7;
}

.scoreboardScore {
    font-family: 'Open Sans';
    text-align: center;
    color: #836DA7;
    margin-bottom: 50px;
}